{
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "no-var": 0, // Use var instead of let or const. 0 -> No warning no error, 1 -> warning, 2 -> error.
    "semi": 2,
    // enable additional rules
    "indent": ["error", 2],
    // disable rules from base configurations
    "no-console": "off",
    "quotes": ["error", "double"],
    "max-len": ["error", 180],
    // Code documentation
    "require-jsdoc": ["error", {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": false,
        "ArrowFunctionExpression": false
      }
    }],
    "valid-jsdoc": "error"
  }
}
